body{
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
}

p{
  font-size: 14px;
}

a {
  font-size: 18px;
  color: white;
}

.divider {
  color: white;
  background-image: url("./resources/images/the-flatiron-building.png");
}

.footer{
  background-color: dimgrey;
  text-align: left;
  color: white;
}
