body{
  font-family: "Helvetica", sans-serif;
  text-align: center;
}

h1, h2, h3{
  font-weight: bold;
}

.hero {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

.hero h1 {
  font-size: 70px;
}

.hero h2 {
  font-size: 23px;
}

.supporting h2{
  font-size: 32px;
}

.supporting h3{
  font-size: 23px;
}

.supporting p{
  font-size: 14px;
}

.btn-nav{
  font-size: 18px;
  color: white;
}


.footer{
  background-color: dimgrey;
  text-align: left;
  color: white;
  font-size: 11px;
}
